# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma

DATABASE_URL=postgresql://postgres:123456@localhost:5432/prode
JWT_SEED=thf7698432h5tny34278965hth2438drg765rdfx32567r5627fd6752df4356287df3612978rfed312679df321867df123876df321876dewqyudg3869721gd83729dg2931873124y3t217fgb832149fg13492768rfgv697dfdskajf9p84a3fhw458379gyfj54398f70tuy6dg38y2iudg9231786dg321
